
#login {
    background-image: url(./assest/others/bg-1.jpeg);
   
}
#signup {
    background-image: url(./assest/others/bg-1.jpeg);
}

#img-upload {
    background-image: url('./assest//others/4880206.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#img:hover #del-button {
    opacity: 100%;
}